.app {
  min-height: 100vh;
}

.canvas {
  flex: 15;
  background-color: antiquewhite;
  border-radius: 15px;
  overflow: hidden;
  max-height: 88vh;
  cursor: crosshair;
}

.toolbar {
  flex: 1;
}

.toolbar button {
  min-width: 7vw;
  margin-right: 3vw;
}

.toolbar button:last-child {
  min-width: 7vw;
  margin-right: 0;
}